{% extends 'BikeUsers/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block content %}

<body>
  <!-- <div id='printoutPanel'></div> -->

  <div id='searchBoxContainer'>
    
    <h1 class="text-center">Add Station</h1>
    <label for="searchLabel" class="form-label">Search Location:</label>
    <input type='text' id='searchBox' class="form-control" placeholder="Start typing location..." autocomplete="off"/>
    
    <form class="row mt-2" method="post" id="mapsform">
      {% csrf_token %}
      <div class="col-md-6" hidden>
        <label for="address" class="hidden-el">Address</label>
        {{up_form.address}}
        
        <label for="district" class="hidden-el">District/City</label>
          {{up_form.district}}

          <label for="post_code" class="hidden-el">Postal Code</label>
          {{up_form.post_code}}

          <label for="country" class="hidden-el">Country</label>
          {{up_form.country}}

          <label for="longitude" class="hidden-el">Longitude</label>
          {{up_form.longitude}}

          <label for="latitude" class="hidden-el">Latitude</label>
          {{up_form.latitude}}
       
        <div class="form-center">
          <button class="btn btn-primary btn-md my-2 " type="submit">Add Station Details</button>
        </div>
      </div>
      </form>

  </div>
      <div id='myMap' class="col-md-4 form-control my-3" style='width: 400px;
      height: 500px;
      position: relative;'></div>

  {% endblock content %}


  {% block js %}
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

  <script src="{% static 'js/maps.js' %}"></script>
  <script type='text/javascript'
    src='https://www.bing.com/api/maps/mapcontrol?key=AoCKO8_fba-FuLiqndRFZjJCyLW6_xi7ABuWX_PJFzffKtBFStyV5kPFPTWK-ADu&callback=loadMapScenario'
    async defer></script>
  {% endblock js %}