{% extends 'BikeUsers/base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
{% endblock css %}
{% block content %}

<form class="row g-3 mt-2 needs-validation form-center" method="post" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
  <h1 class="text-center">Add New Bike Details</h1>
  <div class="col-md-6">

    <!-- To print any error for form validation -->
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
     {% endfor %}

     {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    <!-- Printing Form fields -->
    {% for field in form %}
      <div class="col-md-12">
        <label for="{{ field.id_for_label }}" class="form-label mt-2">{{ field.label_tag }}</label>
        {{ field }}
          <div class="valid-feedback mt-2">
            Looks good!
          </div>

          <div class="invalid-feedback">
            {{ field.help_text }}
          </div>
      </div>
    {% endfor %}
  </div>
  <div class="form-center">
    <button class="btn btn-primary mb-2 " type="submit">Submit</button>
  </div>
</form>

{% endblock content %}

{% block js %}
<script src="{% static 'js/jquery-3.6.0.js' %}" ></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock js %}