{% extends 'BikeUsers/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block content %}
<!-- To print warning/success alert -->
{% if messages %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

{% if user.is_authenticated %}
<h1>Welcome, {{user.username}}! </h1>
{% endif %}

{{ stations|json_script:"data" }}

<div id='myMap'></div>

<div class="search-options mt-4">
    <input type="radio" class="btn-check" name="options" id="mapSearch" autocomplete="off" checked>
    <label class="btn btn-primary" for="option1">Search by Maps</label>

    <input type="radio" class="btn-check" name="options" id="pincodeSearch" autocomplete="off">
    <label class="btn btn-primary" for="option2">Search by Pincode</label>

    <input type="radio" class="btn-check" name="options" id="citySearch" autocomplete="off">
    <label class="btn btn-primary" for="option3">Search by City</label>
</div>

{% endblock content %}

{% block js %}

<script src="{% static 'js/home.js' %}"></script>
<script type='text/javascript'
    src='https://www.bing.com/api/maps/mapcontrol?key=AoCKO8_fba-FuLiqndRFZjJCyLW6_xi7ABuWX_PJFzffKtBFStyV5kPFPTWK-ADu&callback=loadMapScenario'
    async defer></script>

<script id="data" type="application/json"></script>
{% endblock js %}