{% extends 'BikeOperators/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block content %}
<div class="card">
    <div class="card-body">
       {% if bikes %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <h3 class="text-center">All Bikes</h3>
                <thead>
                    <tr class="text-center">
                        <th>Bike Name</th>
                        <th>Brand Name</th>
                        <th>Price Per Hour</th>
                        <th>Price Per Day</th>
                        <th>Registration No.</th>
                        <th>Bike Color</th>
                        <th>Bike Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in bikes %}
                    <tr class="text-center">
                        <td>{{ b.bikename }}</td>
                        <td>{{ b.brandname }}</td>
                        <td>{{ b.price_hr }}</td>
                        <td>{{ b.price_day }}</td>
                        <td>{{ b.registered_no }}</td>
                        <td>{{ b.bikecolor }}</td>
                        <td>{{ b.get_bikestatus_display }}</td>
                        <td><a href="{% url 'BikeUpdateView' b.id %}" class="btn btn-warning mr-2">Update</a>
                            <a href="{% url 'BikeDeleteView' b.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h3 class="text-center">No bikes are added! Click <a href="{% url 'BikeRegister' %}">here</a> to add bike</h3>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock js %}