{% extends 'BikeOperators/base.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete bike details</legend>
                <h2>Are you sure you want to delete the bike details of "{{ object.bikename }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
            </div>
        </form>
    </div>
{% endblock content %}