{% extends 'BikeOperators/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block content %}

<div class="card">
  <div class="card-body">
    {% if payments %}
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <h3 class="text-center">Payments Details</h3>
        <thead>
          <tr class="text-center">
            <th>Customer</th>
            <th>Bike</th>
            <th>Station</th>
            <th>Date and Time</th>
            <th>Payment Mode</th>
            <th>Amount Paid</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in payments %}
          <tr class="text-center">
            <td>{{payment.customer.first_name}}</td>
            <td>{{payment.bike}}</td>
            <td>{{payment.station.name}}</td>
            <td>{{payment.datetime}}</td>
            <td>{{payment.get_mode_display}}</td>
            <td>{{payment.amount}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <h3 class="text-center">No Payment Details Available!</h3>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock js %}