{% extends 'BikeOperators/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/clay/lib/css/atlas.css">
{% endblock css %}
{% block content %}

<div class="card">
  <div class="card-body">
    {% if viewbike %}
    <h4 class="card-title">
      <h3 class="text-center">Rented Bikes</h3>
    </h4>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr class="text-center">
            <th>Bike Name</th>
            <th>Brand Name</th>
            <th>Price Per Hour</th>
            <th>Price Per Day</th>
            <th>Registration No.</th>
            <th>Bike Color</th>
            <th>Change Status</th>
          </tr>
        </thead>
        <tbody>
          {% for b in viewbike %}
          <tr class="text-center">
            <td>{{ b.bikename }}</td>
            <td>{{ b.brandname }}</td>
            <td>{{ b.price_hr }}</td>
            <td>{{ b.price_day }}</td>
            <td>{{ b.registered_no }}</td>
            <td>{{ b.bikecolor }}</td>
            <td>
              <div class="form-check form-switch">
                <label class="toggle-switch">
                  <input data-bid="{{ b.id }}" class="toggle-switch-check" type="checkbox" />
                  <span aria-hidden="true" class="toggle-switch-bar">
                    <span class="toggle-switch-handle" data-label-off="On Rent" data-label-on="Available">
                    </span>
                  </span>
                </label>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <h3 class="text-center">All bikes are available at this moment!</h3>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/clay/lib/js/clay.js"></script>
<script>
  var URL = "{% url 'UpdateBikeStatus' %}"
</script>
<script src="{% static 'js/change_bike_status.js' %}"></script>
{% endblock js %}